html, body {
  width: 100%;
  height: 100%;
  margin:0;
  padding: 0;
  color: #888;
  background-color:#f3f3f3;
  font-family: 'Montserrat', sans-serif;
}

a {
  text-decoration: none;
  color: #363636;
  transition: .2s ease-in-out all;
}
a:hover {
  color: #5798C1;
}
p {
  line-height: 1.5rem;
}

.wrapper {
  padding-left: 30px;
  padding-right: 30px;
  height: 100%;
  max-width: 1140px;
  margin: 0 auto;
}

nav {
  width: 100%;
  background-color:#FFF;
  padding-top:30px;
  padding-bottom: 30px;
}

#navbar .wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

#logo {
  max-width: 50%;
}

#info { 
  max-width: 50%;
  text-align: left;
  font-size: 0.65em;
}

#intro {
  padding-top: 50px;
  padding-bottom: 100px;
}

.video-container {
    position:relative;
    width:100%;
    height:0;
    padding-bottom:56%;
}

.video-container iframe {
    position:absolute;
    left:0;
    top:0;
    width:100%;
    height:100%;
}

#video {
  width:100%;
  height: auto;
}

#inscripciones .wrapper {
  background-color: #FFF;
  padding-top: 20px;
  margin-bottom:100px;
}

#inscripciones h1 {
  border-left: 3px solid #4873FA;
  margin-bottom:30px;
  padding-left: 60px;
  margin-left: -30px;
  font-size: .81em;
  text-transform: uppercase;
}

#inscripcion {
  display: inline-block;
  vertical-align: top;
  width: 33.33%;
  padding: 30px;
}

#inscripcion .button {
  text-align: center;
  background-color: #68B5E6;
  text-transform: uppercase;
}

#inscripcion .button i {
  margin-right: 10px;
}

#inscripcion .button a {
  color: #FFF;
  padding: 15px 20px;
  display: block;
}

#inscripcion .button a:hover { 
  background: #5798C1;
}

#descripcion {
  display: inline-block;
  vertical-align: top;
  width: 55%;
  padding: 30px;
}

#descripcion p:first-of-type {
  margin-top: 0;
}

footer {
  margin-bottom: 0px;
  background-image: url("../assets/img/mocha-f.png");
}

footer .top-footer h2 {
  text-transform: uppercase;
  font-size: 1em;
}

footer .top-footer.wrapper {
  width: auto;
  font-size: 0.8em;
  padding: 70px 30px;
  margin: 0 auto;
  margin-bottom: 0;
  color: #000;
  text-align: right;
  height: auto;
}
footer .top-footer.wrapper .inner-wrapper {
  display: inline-block;
}

footer .top-footer.wrapper .inner-wrapper * {
  text-align: left;
}

#icons {
  padding-left: 0;  
}

#icons li {
  display: inline-block;
}

#icons li a i {
  display: inline-block;
  margin-left: 0px;
  margin-right: 20px;
  font-size: 1rem;
}

footer .credits .wrapper {
  margin: 0 auto;
  padding: 0;
  text-align: left;  
  text-transform: uppercase;
  color: #707070;
  font-size: .7em;
}

footer .credits {
  margin-top: 0px;
  padding: 40px 30px;
  background-color: #000;
}

@media (max-width: 780px) {
  .wrapper {
    max-width: 100%;
    width: calc(100% - 60px);
  }

  #inscripcion, 
  #descripcion {
    width:100%;
    padding: 0;
  }

  #inscripciones h1 {
    padding-left: 30px;
  }

  footer .top-footer.wrapper {
    text-align: left;
  }
  
  footer .credits .wrapper {
    margin-left: 0;
  }

  #logo {
    max-width: 100%;
    margin: auto;
  }
  
  #info { 
    max-width: 100%;
    text-align: left;
    font-size: 0.65em;
    margin-top: 25px;
  }
}