html, body {
  width: 100%;
  height: 100%;
  margin:0;
  padding: 0;
  color: #888;
  background-color:#f3f3f3;
  font-family: 'Montserrat', sans-serif;
}

a{
  text-decoration: none;
  color: #888;
}

.wrapper{
  width: 100%;
  height: 100%;
  max-width: 1280px;
  margin: 0 auto;
}

nav {
  width: 100%;
  background-color:#FFF;
  padding-top:30px;
  padding-bottom: 30px;
}

#navbar .wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

#logo {
  max-width: 50%;
}

#info { 
  max-width: 50%;
  text-align: left;
  font-size: 0.65em;
}

#intro{
  padding-top: 100px;
  padding-bottom: 100px;
}

.video-container{
    position:relative;
    width:100%;
    height:0;
    padding-bottom:56%;
}

.video-container iframe{
    position:absolute;
    left:0;
    top:0;
    width:100%;
    height:100%;
}

#video{
  width:100%;
  height: auto;
}

#inscripciones .wrapper{
  background-color: #FFF;
  padding-top: 20px;
  margin-bottom:100px;
}

#inscripciones h1{
  border-left: 3px solid #4873FA;
  margin-bottom:30px;
  padding-left: 10px;
  text-transform: uppercase;
}

#inscripcion{
  display: inline-block;
  vertical-align: top;
  width:25%;
  padding: 30px;
}

#inscripcion .button{
  max-width: 180px;
  text-align: center;
  background-color: #4873FA;
  padding: 10px 20px;
  text-transform: uppercase;
}

#inscripcion .button a{
  color: #FFF;
}

#descripcion{
  display: inline-block;
  vertical-align: top;
  width:60%;
  padding: 30px;
}

footer{
  height: 300px;
  margin-bottom: 0px;
  padding-top: 20px;
  background-image: url("assets/img/mocha-f.png");
}

footer h2 {
  text-transform: uppercase;
  font-size: 1em;
}

footer .wrapper {
  font-size: 0.8em;
  padding: 10px 20px;
  margin: 30px auto;
  color: #000;
}

#icons li{
  display: inline-block;
}

#icons li a i{
  display: inline-block;
  margin-left: 0px;
  margin-right: 20px;
  font-size: 1em;
}


footer .credits{
  height:10px;
  margin-top: 0px;
  font-size: 0.7em;
  padding: 20px 30px;
  background-color: #000;
}

@media (max-width: 780px) {

  #inscripcion{
  width:80%;
  }

  #descripcion{
    width:80%;

  }

  #logo {
    max-width: 100%;
    margin: auto;
  }
  
  #info { 
    max-width: 100%;
    text-align: left;
    font-size: 0.65em;
    margin: 10px auto;
  }

}