@import "variables";
body {
    width: 100%;
    height: 100%;
    background: #fff;
    color: $color-dark;
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
}

body a {
    color: $color-dark;
    &:hover {
        color: $color-purple;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Montserrat', serif;
    font-weight: 700;
}

h1 {
    font-size: 1.8rem;
    margin: auto;
    text-align: center;
}

h2 {
    font-size: 2.5rem;
}

h3 {
    font-size: 1.3rem;
}

i {
    font-style: italic;
}

#about,
#contact,
#donations {
    padding-top: 90px;
    padding-bottom: 90px;
    border-bottom: 1px solid rgba(211, 211, 211, 0.3);
    border-top: 1px solid rgba(211, 211, 211, 0.3);
}

.bg-grey {
    background: rgba(244, 244, 244, 0.3);
}

.section-heading {
    margin-bottom: 40px;
    margin-top: 70px;
    h2 {
        .initial {
            width: 0.9em;
            height: 0.9em;
            padding: 0 .1em;
        }
    }
}

.social-links {
    margin: auto;
    text-align: left;
    li {
        display: inline-block;
        margin: 20px 40px;
        font-size: 1.25em;
        a {
            color: $color-dark;
            &:hover {
                color: $color-purple;
            }
        }
    }
}

.social-links-fixed {
    bottom: 5%;
    right: 0;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    box-shadow: 1px 1px 5px 1px rgba(0, 15, 27, 0.07);
    padding: 10px;
    background: #FFF;
    ul {
        margin-bottom: 0;
        li {
            font-size: 1.25em;
            a:hover {
                color: $color-purple;
            }
        }
    }
}

.btn {
    border-radius: 0;
    padding: .5rem 2.75rem;
    background: $color-dark;
    color: #FFF;
}

header {
    transition: background-color .3s ease-in-out;
    background: $color-dark;
    text-transform: uppercase;
    font-weight: bold;
    .social-links-fixed {
        right: -40px;
        transition: right .3s ease-in-out;
        background-color: $color-dark;
        @media all and (max-width: 991px) {
            position: static!important;
            display: block;
            box-shadow: none;
            margin: 0 auto;
            right: unset!important;
            left: unset;
            width: 50%;
            max-width: 180px;
            ul {
                flex-direction: row!important;
                margin: 0 auto;
                width: 100%;
                justify-content: space-between;
            }
        }
    }
    &.scrolled {
        background: $color-dark;
        box-shadow: 1px 1px 3px 1px rgba(128, 128, 128, 0.1);
        .navbar-nav {
            li.nav-item {
                .cta-item {
                    a.nav-link {
                        border: 1px solid $color-dark;
                        background: transparent;
                        &:hover {
                            background: $color-yellow;
                            color: #fff;
                        }
                    }
                }
            }
        }
        .social-links-fixed {
            right: 0;
        }
    }
    nav {
        padding: .2rem 0!important;
        .navbar-brand {
            h1 {
                font-size: 12px;
                margin-bottom: 0;
            }
        }
    }
    .navbar-nav {
        padding: 0;
        li.nav-item {
            margin: 0 30px;
            font-size: .7em;
            &.cta-item {
                color: white;
                &.active {
                    .nav-link {
                        background: $color-dark!important;
                        color: #FFF!important;
                        border: 1px solid #FFF;
                    }
                }
                a.nav-link {
                    border: 1px solid white;
                    background: transparent;
                    margin-top: .2rem;
                    padding: .2rem 1rem;
                    transition: all .15s ease-in-out;
                    &:hover {
                        background: white;
                        color: $color-yellow;
                    }
                }
            }
            a.nav-link {
                color: white;
                padding: 0.5rem 0;
                &:hover,
                &:focus {
                    color: $color-yellow;
                }
            }
            &.active {
                .nav-link {
                    border-bottom: 1px solid #fff;
                }
            }
        }
        li.lang-selector {
            text-transform: uppercase;
            a {
                &.dropdown-toggle {
                    color: $white!important;
                    &:hover,
                    &:active {
                        color: $color-yellow!important;
                    }
                }
                border-color: #FFF!important;
                @media all and (max-width: 991px) {
                    border: 0!important;
                    a:hover {
                        border: 0!important;
                    }
                }
            }
            ul.dropdown-menu {
                min-width: unset;
                max-width: 60px;
                li {
                    text-align: center;
                    a {
                        padding: 3px 15px;
                        font-size: .7rem;
                        &:active {
                            background: unset;
                            color: unset;
                        }
                    }
                }
            }
            @media all and (max-width: 991px) {
                a {
                    padding: 0 12px 0 0;
                    font-size: 1.25rem;
                }
                margin-bottom: 60px;
                border: 0!important;
                a:hover {
                    border: 0!important;
                }
            }
        }
    }
    .header-logo {
        height: 40px;
    }
}

#cover {
    color: $color-dark;
    position: relative;
    margin-top: 100px;
    padding-bottom: 90px;
    .cover-info {
        position: relative;
        margin: auto;

        h1 {
            font-size: 1.7rem;
            width: 90%;
            margin: -10px auto 30px;
        }
        p {
            font-size: 1.125rem;
        }
    }
    .cover-image {
        position: relative;
        margin: auto;
        display: block;
        width: 90%;

        img{
            width:100%;
        }
    }

    .cover-buttons{
    width: 93%;
    margin: 0 auto;
    margin-top: 30px;

    .cover-button {
        display: block;
        margin-top: 20px;
        font-size: 1.25em;
        font-weight: 600;
        width: 100%;
        border: none;
        &:hover {
            opacity: 85%;
        }
    }

    }
}

#about {
    h2 {
        position: relative;
        margin-bottom: 30px;
        .initial {
            background-color: $color-yellow;
            width: 1em;
            height: 1em;
            padding: 0 .2em;
        }
    }
    .comment {
        font-size: 80%;
    }
    .about-info {
        margin: auto;
        margin-bottom: 22px;
        p {
            text-align: left;
        }
    }
}

#contact {
    .section-heading {
        h2 {
            .initial {
                background-color: $color-purple;
                width: 1em;
                height: 1em;
                padding: 0 .2em;
            }
        }
    }
    form {
        input,
        textarea,
        select {
            border-color: $color-dark;
            border-radius: 0;
            min-height: 3.25rem;
            &::placeholder {
                color: grey;
                font-size: 95%;
            }
        }
        select {
            background-image: none;
        }
        small {
            font-size: 65%;
            color: #fff;
        }
        .form-output {
            display: block;
            text-transform: uppercase;
            font-weight: 600;
            color: #6056a5;
        }
    }
}

#donations {
    .section-heading {
        h2 {
            .initial {
                background-color: $color-orange;
                width: 1em;
                height: 1em;
                padding: 0 .2em;
            }
        }
    }
    p {
        text-align: left;
    }
    .donation-type {
        padding-bottom: 10px;
        .donate-button {
            font-size: 1em;
            width: 90%;
            margin: 10px auto;
            border: none;
            &:hover {
                opacity: 85%;
            }
        }
        em {
            font-style: italic;
        }
    }
}

#footer {
    .section-heading {
        margin-top:0;
        h2 {
            position: relative;
            margin-bottom: 0;
            .initial{

                background-color: $color-purple;
                width: 1em;
                height: 1em;
                padding: 0 .2em;
            }
        }
    }
    padding-top: 65px;
    padding-bottom: 35px;
  
    .contact-body {
        justify-content: space-around;
    }
    .address {
        text-align: left;
        padding: 15px 0px;
        p {
            margin-bottom: 2px;
        }
    }

    .email-list {
        text-align: left;
        padding: 15px 0px;
        p {
            margin-bottom: 2px;
            font-weight: bold;
        }
        a {
            display: block;
            margin-bottom: 10px;
        }
    }

    #map {
        margin: auto;
        min-height: 300px;
        width: 100%;
    }
    .social-links { 
        margin-bottom: 25px;
    }
    .social-links li {
        margin: 0px 30px 0 0!important;
    }
}

#bottom {
    hr {
        display:block;
        border:none;
        height:10px;
        background-image:url('../static/img/hr-guarda.png');
        background-repeat: repeat-x;
        background-size:contain;
        margin: 0px;        
    }
    .real-footer {
        padding: 20px 0;
    } 
    .licence-cont {
        img {
            width: 58px;
        }
        small {
            font-size: .7rem;
        }
        a { 
            display: block;
        }
    }
    small {
        &.made-with {
            span:first-of-type {
                color: $color-dark;
            }
            span:last-of-type {
                color: #ee6161;
            }
            &:hover {
                span:first-of-type {
                    color: #961888;
                }
            }
        }
    }
}

@media all and (max-width: 450px) {
    .nav-item {
        margin-bottom: 10px!important;
    }
    h2 {
        font-size: 2rem;
    }
    h3 {
        font-size: 1.65rem;
    }
    #cover {

        .cover-info {
            h1{
                font-size: 1.3rem;
                margin: 20px auto 40px;
            }
            h2 {
                //padding-top: 60px;
                font-size: 1.85rem;
            }
            p {
                font-size: .925rem;
            }
            .btn {
                font-size: 1rem;
                padding: .5rem 2.75rem;
            }
            .cover-buttons{
                width: 100%;
                margin-top: 40px;
            }
        }
    }
    .long-mail {
        max-width: 90%;
        font-size: 0.75em;
    }
}

@media all and (max-width:768px) {
    #about {
        .about-info {
            background-image: none;
        }
    }
    #case-studies {
        .project-alternative {
            .case-details {
                border-bottom: 1px solid rgba(211, 211, 211, 0.3);
            }
            .cont-img {
                img {
                    max-height: 150px;
                    transform: scale(.8);
                }
            }
        }
    }
    #contact {
        .btn {
            width: 100%;
            padding: 1rem;
        }
    }
    footer {
        nav {
            ul.navbar-nav {
                flex-direction: column;
                li {
                    margin: 10px 15px;
                }
            }
        }
    }
}

@media all and (max-width:991px) {
    .logo {
        height: 100px;
        margin: auto;
    }
    h3 {
        font-size: 1.75rem;
    }
    header {
        background: $color-dark;
        nav {
            #nav-collapse {
                height: 100vh;
                transition: none;
                ul.navbar-nav {
                    height: 70vh;
                    margin-top: 10vh;
                    justify-content: space-around;
                    align-items: center;
                    li.nav-item {
                        margin: 0;
                        a.nav-link {
                            color: white;
                            font-size: 1.25rem;
                            border-bottom: 1px solid transparent;
                            &:hover {
                                color: white;
                            }
                        }
                        &.cta-item {
                            border: none;
                            color: white;
                            a.nav-link {
                                background: transparent;
                                padding: .5rem 1rem;
                                border: 1px solid $color-dark;
                            }
                        }
                        &.lang-selector {
                            display: flex;
                            .dropdown-toggle::after {
                                transform: rotate(-90deg)
                            }
                            ul {
                                border: 0;
                                padding: .5rem;
                                margin: 0;
                                margin-left: 15px;
                                li {
                                    margin: 0;
                                    a {
                                        margin-top: 0px;
                                        color: black;
                                        padding: 0;
                                        font-size: 1.25rem;
                                    }
                                }
                            }
                        }
                    }
                }
            }
            #navbar-toggle[aria-expanded="false"] {
                .navbar-toggler-icon {
                    background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3C!-- Generator: Adobe Illustrator 22.1.0, SVG Export Plug-In . SVG Version: 6.00 Build 0) --%3E%3Csvg version='1.1' id='Layer_1' fill='white' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 15 15' style='enable-background:new 0 0 15 15;' xml:space='preserve'%3E%3Cg%3E%3Cg%3E%3Crect y='4' width='15' height='1.9'/%3E%3C/g%3E%3Cg%3E%3Crect x='5' y='9.1' width='10' height='1.9'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A")!important;
                    /*background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(0, 0, 0)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E")!important;*/
                }
            }
            #navbar-toggle[aria-expanded="true"] {
                .navbar-toggler-icon {
                    background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3C!-- Generator: Adobe Illustrator 22.1.0, SVG Export Plug-In . SVG Version: 6.00 Build 0) --%3E%3Csvg version='1.1' id='Layer_1' fill='white' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 15 15' style='enable-background:new 0 0 15 15;' xml:space='preserve'%3E%3Cg%3E%3Crect x='6.6' y='0' transform='matrix(0.7071 -0.7071 0.7071 0.7071 -3.1066 7.5)' width='1.9' height='15'/%3E%3C/g%3E%3Cg%3E%3Crect x='0' y='6.6' transform='matrix(0.7071 -0.7071 0.7071 0.7071 -3.1066 7.5)' width='15' height='1.9'/%3E%3C/g%3E%3C/svg%3E%0A")!important;
                }
            }
        }
    }
}

@media all and (max-height: 500px) and (max-width: 991px),
all and (orientation: landscape) and (max-height: 500px) and (max-width: 991px) {
    header nav {
        #nav-collapse {
            ul.navbar-nav {
                height: 85vh;
                overflow: scroll;
                margin-top: 0!important;
                padding-top: 130px!important;
                padding-bottom: 10px;
                justify-content: center;
                li.nav-item {
                    margin: 5px 0!important;
                    a.nav-link {
                        font-size: 1rem;
                    }
                    &.nav-item:last-of-type {
                        min-height: unset;
                        margin-bottom: 5px!important;
                    }
                }
                .social-links-fixed {
                    padding-bottom: 20px;
                }
            }
        }
    }
}


.color-yellow {
    color: $color-yellow;
}

.color-green {
    color: $color-green;
}

.color-blue {
    color: $color-blue;
}

.color-purple {
    color: $color-purple;
}

.color-red {
    color: $color-red;
}

.color-orange {
    color: $color-orange;
}

.b-yellow {
    background-color: $color-yellow!important;
}

.b-green {
    background-color: $color-green!important;
}

.b-blue {
    background-color: $color-blue!important;
}

.b-purple {
    background-color: $color-purple!important;
}

.b-red {
    background-color: $color-red!important;
}

.b-orange {
    background-color: $color-orange!important;
}